apiVersion: v1
kind: Service
metadata:
  name: {{ default (printf "%s-canary" .Chart.Name) .Values.rollout.canaryService }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Chart.Name }}
  ports:
    - port: 80
      targetPort: {{ .Values.containerPort }}
      
