apiVersion: v1
kind: Service
metadata:
  name: {{ default (printf "%s-stable" .Chart.Name) .Values.rollout.stableService }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Chart.Name }}
  ports:
    - port: 80
      targetPort: {{ .Values.containerPort }}
    
